@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* space-grotesk-latin-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: block;
  font-weight: 300 700;
  src: url(@fontsource-variable/space-grotesk/files/space-grotesk-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@theme {
  --sl-font: 'Inter', serif;
  --sl-font-headings: "Inter", serif; 
  --font-head: "Space Grotesk Variable"; 

  /* Generated accent color palettes. */
  --color-accent-200: #aad7a0;
  --color-accent-200: white;
  --color-accent-600: #165800;
  --color-accent-900: #0d3e00;
  --color-accent-950: #072d00;

  /* Generated gray color palettes. */
  --color-gray-100: #f6f6f6;
  --color-gray-200: #eeeeee;
  --color-gray-300: #c2c2c2;
  --color-gray-400: #8b8b8b;
  --color-gray-500: #585858;
  --color-gray-700: #383838;
  --color-gray-800: #272727;
  /* --color-gray-900: #181818; */
  --color-gray-900: #000000;

}

@layer components {

  .site-title {
    @apply font-head font-normal;
  }
  
  :root {
    /* --sl-color-bg: black; */
    --sl-color-bg-sidebar: black;
    --sl-color-text: white;
    --sl-color-hairline-shade: var(--sl-color-gray-6);
    /* --sl-nav-height: 3.5rem; */
  }

  h1, h2 {
    @apply font-head font-normal;
  }

  main {
    @apply bg-black;
  }

  header {
    @apply bg-black;
  }
}
